body {
    box-sizing: border-box;
    background: #E5E5E5;
    font-family: 'Muller';
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.nav {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 0 45px;
    min-height: 70px;
}
.logo {
    margin-right: 35px;
}
.tel {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    text-decoration: none;
}
.cabinet {
    margin-left: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    text-decoration: none;
}
.list {
    display: flex;
    padding: 0;
}
.link {
    list-style-type: none;
    margin-right: 45px;
    color: #666666;
}
.header {
    margin: 30px 0;
    display: flex;
    align-items: center;
}
.gold_btn {
    padding: 13px 20px;
    color: #CC9933;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 15px;
    border: #CC9933 2px solid;
    background: #FFFFFF;
    cursor: pointer;
}